header {
    height: 100vh;
    backdrop-filter: blur(12.5px);
}

nav {
    padding: 0 2.5%;
    background: #c03f1f75;
    /* background: #33333375; */
    box-shadow: 0 0 25px #00000050;
    min-height: 10vh;
    max-width: 90%;
    border-radius: 10em;
    display: flex;
    justify-content: space-between;
    /* justify-content: center; */
    align-items: center;
    margin: 0 auto;
    position: relative;
    top: 2.5rem;
    z-index: 100;
    backdrop-filter: blur(10px);
}

.nav-menu {
    display: flex;
    gap: 2.5em;
    letter-spacing: 1.5px;
}

.logo {
    aspect-ratio: 1/1;
    display: flex;
    max-width: 7rem;
}

.logo-container {
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
}

.logo-text {
    color: white;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-shadow: 5px 2.5px 2.5px #00000025;
    font-size: 2.5rem;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    font-size: clamp(0.5rem, 0.0752rem + 1.8123vw, 2.25rem);
    font-weight: 600;
    text-shadow: 5px 2.5px 2.5px #00000050;
    transition: all 0.25s ease-in-out;
}

.nav-link:hover {
    color: #333;    
    text-shadow: none;
    /* font-weight: 800; */
    text-transform: uppercase;
}

.nav-item {
    list-style-type: none;
    transition: all 0.2s ease-in-out;
}

.nav-item:hover {
    transform: translateY(-5%);
}
