.latest {
    height: 100vh;
    background: #333;
}

.hero {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    left: 0;
    right: 0;
    position: absolute;
    top: 0;
}

.text {
    
}

.hero h1 {
    /* color: #fff; */
    color: #c03f1f;
    /* -webkit-text-stroke: 10px #fff; */
    -webkit-text-stroke: 10px #c03f1f;
    font-size: clamp(2rem, -3.5825rem + 23.8188vw, 25rem);
    text-transform: uppercase;
    height: 19rem;
    line-height: 19rem;
    /* opacity: 25%; */
    text-align: center;
    text-shadow: 0 0 50px #000000;
}
